<div class="product">
  <% if name_is_link %>
    <h2>
      <%= link_to product.name, product %>
    </h2>
  <% else %>
    <h2>
      <%= product.name %>
    </h2>
  <% end %>
  <h4>
    <strong>Product Price: </strong>
    <%= product.price %>
  </h4>
  <p>Description: <%= product.description %></p>
  <% if product.image.present? %>
    <figure>
      <%= image_tag product.image %>
    </figure>
  <% end %>
</div>